/* variables start */
:root {
  --metu-red: #c00000;
}
/* variables end */

.login-container {
  gap: 12px;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-container input {
  width: 14%;
  height: 30px;
  border: none;
  text-align: center;
  border-bottom: 1px solid black;
}

.login-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.login-container button {
  width: 10%;
  border: none;
  height: 40px;
  display: flex;
  color: white;
  margin-top: 40px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  background-color: var(--metu-red);
}
