/* variables start */
:root {
  --metu-red: #c00000;
  --border-grey: #b8b8b8;
}

/* variables end */

#room-container {
  flex: 1;
}

/* filter start */
#room-filter-row {
  display: flex;
  margin-top: 2vh;
  margin-left: 2.5vw;
  flex-direction: row;
}

#room-filter-select {
  width: 10vw;
}

#room-filter-reset {
  width: 40px;
  border: none;
  height: 40px;
  display: flex;
  margin-left: 2vw;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background-color: var(--metu-red);
}

/* filter end */

/* calendar start */
.calendar {
  width: 95vw;
  height: 76vh;
  margin-top: 2vh;
  margin-left: 2.5vw;
}

/* calendar end */

/* delete modal start */
#room-delete-modal-header {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: row;
  justify-content: space-between;
}

#room-delete-modal-header button {
  border: none;
  font-size: xx-large;
  background-color: white;
}

#room-delete-modal-content {
  display: flex;
  margin-left: 4%;
  flex-direction: column;
}

#room-delete-modal-content-buttons-container {
  display: flex;
  flex-direction: column;
}

#room-delete-modal-content-buttons-container-action-button {
  width: 30%;
  bottom: 40px;
  right: 150px;
  height: 40px;
  color: white;
  font-size: 15px;
  overflow: hidden;
  font-weight: bold;
  position: absolute;
  border-radius: 10px;
  border: "1px solid";
  border-style: outset;
  border-color: var(--metu-red);
  background-color: var(--metu-red);
}

#room-delete-modal-content-buttons-container-action-button-2 {
  width: 30%;
  bottom: 40px;
  right: 425px;
  height: 40px;
  color: white;
  font-size: 15px;
  overflow: hidden;
  font-weight: bold;
  position: absolute;
  border-radius: 10px;
  border: "1px solid";
  border-style: outset;
  border-color: var(--metu-red);
  background-color: var(--metu-red);
}


#room-delete-modal-content-buttons-container-cancel-button {
  width: 50%;
  height: 40px;
  margin-top: 7%;
  font-size: 15px;
  overflow: hidden;
  border: 2px solid;
  font-weight: bold;
  border-radius: 10px;
  border-style: outset;
  color: var(--metu-red);
  background-color: white;
  border-color: var(--metu-red);
}

/* delete modal end */

/* create modal start */
#room-create-modal-header {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: row;
  justify-content: space-between;
}

#room-create-modal-header button {
  border: none;
  font-size: xx-large;
  background-color: white;
}

#room-create-modal-content {
  height: 65%;
  margin-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-around;
}

#room-create-modal-content-description-input {
  width: 97%;
  height: 35px;
  color: grey;
  font-size: 15px;
  padding-left: 2%;
  border: solid 1px;
  border-radius: 5px;
  border-color: var(--border-grey);
}

#room-create-modal-content-description-input:focus {
  outline: none;
}

#room-create-modal-content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#room-create-modal-content-date-container {
  width: 250px;
  height: 35px;
  padding-left: 2%;
  border-radius: 5px;
  border: solid 1px var(--border-grey);
}

#class-create-modal-content-date-container:focus {
  outline: none;
}

#room-create-modal-content-time-container {
  width: 45%;
  height: 35px;
  padding-left: 2%;
  border-radius: 5px;
  border: solid 1px var(--border-grey);
}

#room-create-modal-content-time-container input {
  width: 50%;
  height: 100%;
  border: none;
  outline: none;
}

#room-create-modal-exam-label {
  display: flex;
  color: grey;
  align-items: center;
}

#room-create-modal-exam-checkbox {
  width: 30px;
  height: 30px;
  appearance: none;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  border: 1px solid var(--border-grey);
}

#room-create-modal-exam-checkbox:checked:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 1em;
  height: 1em;
  margin: auto;
  line-height: 1;
  content: "\2714";
  text-align: center;
  position: absolute;
  vertical-align: middle;
}

#room-create-modal-content-button {
  width: 4vw;
  right: 50px;
  height: 4vw;
  bottom: 30px;
  border: none;
  color: white;
  overflow: hidden;
  border-radius: 2vw;
  position: absolute;
  background-color: var(--metu-red);
}

/* create modal end */

/* seperator start*/
.seperator {
  height: 5%;
}

/* seperator end*/